.testimonials
    width: 100%
    height: 400px
    background: #c8b747

    display: flex
    justify-content: center
    align-items: center
    gap: 100px
    .first-testimonial
        button
            .my-icon-play
                filter: drop-shadow(5px 5px 5px #222)


        
